<section class="confirm">
	<h2>Confirm Your Vote!</h2>
	<p>Let's show this <%= params[:label] %> who's boss!</p>
</section>
<section id="box">
	<h3>Select your social battleground</h3>
	<%= render "devise/shared/links" %>
</section>
