<%- if devise_mapping.omniauthable? %>
	<ul>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <li><%= link_to image_tag("button-#{provider.to_s}.png"), omniauth_authorize_path(resource_name, provider, origin: claim_vote_path(params[:vote_id])) %></li>
  <% end -%>
	</ul>
<% end -%>