#background {
	z-index: 0;
	.left, .right { width: 50%; z-index: 0; position: fixed; top: 0; bottom: 0; }
	.left {
		background: #f5841e;
		left: 0;
	}
	.right {
		background: #ef412f;
		right: 0;
	}
}
header, section { background: transparent; }
header {
	font-size: 48pt;
	line-height: 96pt;
	color: white;
	span.vs { color: white; background: url('/assets/bg-circle-black.png'); width: 141px; height: 141px; display: inline-block; }
	.tagline { color: #2e2e2e; font-size: 24pt; clear: both; }
}
footer {
	color: white;
	background: #2e2e2e;
	height: 200px;
}
ul { list-style: none; }
