@font-face { font-family: Helsinki; src: url('/assets/helsinki.ttf'); }
* { border: 0; margin: 0; padding: 0; }
*:focus { outline: none; }
body { 
	background: #f5841e;
	font-family: Helsinki;
	font-variant: small-caps; 
	min-width: 960px;
}
#background {
	z-index: 1;
	width: 50%; 
	position: fixed; 
	top: 0; 
	bottom: 0; 
	right: 0;
	background: #ef412f;
}
#content {
	z-index: 2;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
//#content > * { min-width: 960px; margin: 0 auto; }
#content:after, #box:after { 
	content: '.'; 
	visibility: hidden; 
	clear: both;
}
#box { 
	background: white; 
	width: 50%; 
	height: 160px;
	margin: 20px auto;
	text-align: center;
	min-width: 555px;
	a { float: left; }
	h3 { margin-bottom: 25px; padding-top: 10px; }
	ul { height: 50px; display: inline-block; }
	li { margin: 20px; float: left; }
}
header {
	#title { font-size: 48pt; line-height: 104pt; }
	color: white;
	width: 100%; 
	text-align: center; 
	span.vs { color: white; background: url('/assets/bg-circle-black.png'); width: 141px; height: 141px; display: inline-block; }
	span.cobra { display: inline-block; padding-right: 45px; }
	.tagline { color: #2e2e2e; font-size: 24pt; line-height: 24pt; clear: both; margin-top: 10px; margin-bottom: 20px; }
	.share { 
		margin: 20px auto;
		font-size: 9pt;
	}
	.share > span { margin: 20px; }
}

section.confirm { margin: 0 auto; text-align: center; color: white; }

footer {
	color: white;
	background: #2e2e2e;
	height: 200px;
	margin-bottom: -200px;
	display: block;
	clear: both;
	text-align: center; 
	p { color: black; }
	ul { width: 960px; height: 100px; margin: 0 auto; }
	li { margin: 50px; float: left; }
	span { margin-top: 20px; display: inline-block; }
}
header:after, footer:after, ul:after, .share:after { content: '.'; visibility: hidden; clear: both; }
ul { list-style: none; }
.fonthack { font-family: Helvetica; }
