// Place all the styles related to the votes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section { 
	width: 100%; 
	clear: both;
	.choice {
		.chicken, .cobra { float: left; }
		.chicken { left: 20px; }
		.cobra { float: right; }
	}
	.reason { 
		clear: both; 
		width: 960px;
		margin: 20px auto;
		textarea { height: 50px; width: 90%; float: left; }
		input[type='submit'] { height: 50px; width: 10%; float: left; }
	}
}
section.bar {
	width: 960px;
	margin: 0 auto;
	height: 50px;
	.buffer { width: 360px; height: 100%; float: left; }
	.chicken, .cobra { 
		width: 300px; 
		height: 100%; 
		float: left; 
		div { 
			background: black; height: 20px; 
			span { color: white; margin: 2px; display: inline-block; }
		}
	}
}
section.stat {
	width: 960px;
	height: 400px;
	margin: 0 auto;
	#chicken, #cobra { 
		float: left; 
		text-align: center;
		span { 
			width: 100px; 
			margin-top: 380px; 
			padding: 20px; 
			display: inline-block; 
			background: white;
			border-radius: 20px;
		}
	}
	#chicken:hover, #cobra:hover { 
		cursor: pointer; 
		span { background: black; color: white; }
	}
	#chicken, #chicken:hover, #chicken.active, #cobra, #cobra:hover, #cobra.active { background-image: url('/assets/sprite.png'); width: 300px; height: 400px; }
	#chicken { background-position: 0 0; }
	#chicken:hover { background-position: 0 801px; }
	#chicken.active { background-position: 0 401px; }
	#cobra { background-position: 300px 0; }
	#cobra:hover { background-position: 300px 801px; }
	#cobra.active { background-position: 300px 401px; }
	.score {
		width: 360px; 
		height: 400px;
		float: left; 
		color: white; 
		background: url('/assets/bg-stats.png') no-repeat; 
		text-align: center;
		font-size: 16pt;
		.title {
			display: inline-block;
			text-align: center;
			margin-top: 80px;
			width: 150px;
			font-size: 24pt;
		}
		.title:after { content: '.'; visibility: hidden; clear: both; }
		.chicken, .cobra { width: 100px; float: left; display: inline-block; padding-top: 10px; padding-bottom: 10px; border-top: 1px solid #888; }
		.chicken { border-right: 1px solid #888; }
		.cobra { border-left: 1px solid #888; }
		.perc { font-size: 21pt; }
		.votes { font-size: 9pt; display: block; margin-top: 10px; }
		.detail { width: 210px; height: 100px; margin: 20px auto; }
	}
}
form { margin-top: 50px; }
footer {
	clear: both;
	text-align: center; 
	margin-top: 50px;
	p { color: black; }
	li { margin: 50px; float: left; }
	span { margin-top: 20px; display: inline-block; }
}
footer:after, ul:after { content: '.'; visibility: hidden; clear: both; }
img { border: none; }
